<div class="landing-container">
  <div class="header">
    <div class="logo">
      <h1>Parquealo.co</h1>
    </div>
    <div class="buttons">
      <button class="login-btn" (click)="navigateToLogin()">Iniciar Sesión</button>
      <button class="register-btn" (click)="navigateToRegister()">Registrarse</button>
    </div>
  </div>
  <div class="landing-contenido">
    <h2>¡Bienvenido a Parquealo.co!</h2>
    <p>Encuentra el lugar perfecto para estacionar tu vehículo.</p>
  </div>
  <div class="landing-imagen">
    <img src="./logoParqueaderoSinFondo.png" alt="Imagen de parqueadero">
  </div>
</div>