<main class="main">
  <section class="main-section main-section__left">
    <h1>Parqueadero UNIMAG</h1>
    <p>Por favor ingresa tus credenciales</p>
    <picture>
      <img src="./login.svg" alt="Imagen de login">
    </picture>
  </section>

  <section class="main-section main-section__right">
    <form class="form" [formGroup]="formLogin">
      <h2>Bienvenido</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">Ingrese su correo</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese su correo"
          autocomplete="off"
          formControlName="correoAcceso"
          required
        />
        @if(errorsInputs.includes('correoAcceso')){
          <label class="alert-message" for="exampleInputEmail1">Corrija su correo</label>
        }
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Ingrese su contraseña</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Ingrese su contraseña"
          autocomplete="off"
          formControlName="claveAcceso"
          required
        />
        @if(errorsInputs.includes('claveAcceso')){
          <label class="alert-message" for="exampleInputPassword1">Corrija su contraseña</label>
        }
      </div>
      <div class="form-group form-check">
        <input type="checkbox" formControlName="check" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        @if(errorsInputs.includes('check')){
          <label class="alert-message" for="exampleCheck1">Debe aceptar los terminos y condiciones</label>
        }
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      <div class="form-group form-group__register">
        <p>¿No tienes una cuenta?</p>
        <a href="/register">Registrate</a>
      </div>
    </form>
  </section>
</main>
